.panel-heading {
  padding: 1px 5px;
}

.panel-heading h6 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.panel-body {
  padding: 8px;
}

.score {
  font-size: 56px;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

.btn-group {
  min-width: 100%;
}

.btn-group .btn {
  width: 50%;
}

.team-player {
  display: block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.team-player .role {
  font-weight: bold;
}
