<div class="panel panel-primary">
  <div class="panel-heading">
    <h6>{{ team.name }}</h6>
  </div>
  <div class="panel-body">
    <span class="score text-center noselect" (click)="onGoal()">{{ score }}</span>
    <div class="btn-group" role="group" aria-label="...">
      <button [disabled]="disabled" class="btn btn-success btn-lg" (click)="onGoal(team.goalkeeper)">G</button>
      <button [disabled]="disabled" class="btn btn-success btn-lg" (click)="onGoal(team.forward)">F</button>
    </div>
    <hr>
    <span class="team-player noselect"><span class="role">GK:</span> {{ team.goalkeeper.username }}</span>
    <span class="team-player noselect"><span class="role">FW:</span> {{ team.forward.username }}</span>

  </div>
</div>
