<div class="row">
  <div class="col-xs-12 text-center">
    <span class="match-date">{{ match.date | date }}</span>
    <span class="match-duration">00:00</span>
  </div>
</div>

<div *ngIf="match.id !== -1" class="row">
  <team-score class="col-xs-6"
                [team]="match.blue_team"
                [score]="getTeamScore(match.blue_team)"
                (goal)="addGoal(match.blue_team)">
  </team-score>

  <team-score class="col-xs-6"
                [team]="match.red_team"
                [score]="getTeamScore(match.red_team)"
                (goal)="addGoal(match.red_team)"></team-score>
</div>

<div *ngIf="match.id !== -1" class="row">
  <goals-list class="col-xs-12" [match]="match"></goals-list>
</div>
