<div class="row">
  <div class="col-xs-12">
    <h3>Match list</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Blue Team</th>
          <th>Red Team</th>
          <th>Score</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="#match of matchList">
          <td class="text-center">
            <button (click)="delete(match)" type="button" class="btn btn-danger btn-xs glyphicon glyphicon-remove" title="Delete"></button>
          </td>
          <td (click)="navigateTo(match)">{{match.blue_team.name}}</td>
          <td (click)="navigateTo(match)">{{match.red_team.name}}</td>
          <td (click)="navigateTo(match)">{{ match.getTeamScore(match.blue_team) }} : {{ match.getTeamScore(match.red_team) }}</td>
          <td (click)="navigateTo(match)">{{match.date | date:'shortDate' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
